@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", "sans-serif";
  --font-serif: "Lora", "serif";
}

:root {
  @apply bg-zinc-100 dark:bg-zinc-900;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
