@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button {
    @apply cursor-pointer;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

@theme {
  --font-sans: "Inter", "Noto Sans JP", "sans-serif";
  --font-serif: "Lora", "Noto Serif JP", "serif";
}

@utility prose {
    blockquote {
        p {
            &:first-of-type::before,
            &:last-of-type::after {
                content: none;
            }
        }
    }
}

.text-faint {
  @apply text-zinc-500;
}

:root {
  @apply bg-zinc-100 dark:bg-zinc-900;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

.ProseMirror
  p:first-child:only-child:has(br.ProseMirror-trailingBreak)::before {
  content: "Start typing...";
  color: #9ca3af;
  @apply text-zinc-500 dark:text-zinc-400;
  pointer-events: none;
  position: absolute;
  user-select: none;
}

article {
  @apply prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold prose-headings:font-serif;
}

.prose-h {
  @apply font-serif font-semibold;
  color: var(--tw-prose-headings);
}

html *::selection {
  @apply bg-sky-200;
} 

code *::selection,
code::selection {
  @apply bg-sky-900;
}

